/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #00a8ff, #63c216);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#div1 img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  float: left;
  width: 150px;
  height: 150px;
  
}

#div1 h2,
#div1 ul {
  overflow: hidden;
}

/* Estilos para o cabeçalho */
#div1 h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para a seção "Sobre Mim" */
#div2 {
  margin-bottom: 30px;
}

#div2 h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#div2 p {
  margin-bottom: 10px;
}

/* Estilos para a seção "Experiência Profissional" */
#div3 {
  margin-bottom: 30px;
}

#div3 h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#div3 h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

#div3 p {
  margin-bottom: 5px;
}

/* Estilos para a seção "Formação Acadêmica" */
#div4 {
  margin-bottom: 30px;
}

#div4 h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#div4 h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

#div4 p {
  margin-bottom: 5px;
}

/* Estilos para a seção "Redes Sociais" */
#div5 {
  margin-bottom: 30px;
}

#div5 h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#div5 li {
  margin-bottom: 5px;
}

/* Estilos para o rodapé */
footer {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 30px;
}

.container > main > div {
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
}

 /* Estilos padrão para todas as telas */
 .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para telas com largura máxima de 600 pixels */
@media (max-width: 600px) {
  .container {
      padding: 10px;
  }
}

/* Estilos para telas com largura entre 601 pixels e 1200 pixels */
@media (min-width: 601px) and (max-width: 1200px) {
  .container {
    padding: 30px;
}
}